
<footer>
  <div class="container">
       <br>
       <br>
       <br>
   		<div class="row">
   			<div class="col-lg-4">
   				 <span class="reg-title"><h2 class="title-font text-center">SOCIALS</h2></span>
   				 <div id="socials">
   				 	 <div class="social-icon"><a href="https://github.com/1jhock" target="_blank"><i class="fa fa-github"></i></a></div>
             <div class="social-icon"><a href="https://www.linkedin.com/in/jack-owen-823371102/"  target="_blank"><i class="fa fa-linkedin"></i></a></div>
             <div class="social-icon"><a href="https://www.quora.com/profile/Jack-Owen-Bula"  target="_blank"><i class="fa fa-quora"></i></a></div>
             <div class="social-icon"><a href="https://twitter.com/cgoof96"  target="_blank"><i class="fa fa-twitter"></i></a></div>
	   				 <div class="social-icon"><a href="https://www.instagram.com/jckown/"  target="_blank"><i class="fa fa-instagram"></i></a></div>
   				 </div>
   			</div>
        <div class="col-lg-4">
            <span class="reg-title"><h2 class="title-font text-center">CONTACT</h2></span>
             <h3 class="text-center"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;jack.bula@yahoo.com</h3>
        </div>
          <div class="col-lg-4">
          <span class="reg-title"><h2 class="title-font text-center">CURRENT LOCATION</h2></span>
            <h3 class="text-center"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Antipolo City, PH</h3>
        </div>
   		</div>
      <br><br><br>
  </div>
    <div class="text-center" id="copyright">Copyright &copy; Jack Owen 2017</div>
