<nav class="navbar navbar-default navbar-fixed-top" style="background-color: transparent !important;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="assets/official.png" style="height: 25px; width: auto" alt="" class="img-responsive" id="official-img"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     
      <ul class="nav navbar-nav navbar-right">
     <!--  {% for link in site.links %}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
      {% endfor %} -->
         <li><a href="#projects"  class="nav-link">PROJECTS</a></li>
         <li><a href="#about"  class="nav-link">ABOUT</a></li>
         <li><a href="#timeline"  class="nav-link">TIMELINE</a></li>
      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

