---
layout: default
---
<div id="header">
   <div id="texts">
      <h1 class="text-center title-font" id="title">JACK OWEN</h1>
      <h3 class="text-center">A Web Developer and Designer</h3>
   </div>
   <div id="blank"></div>
</div>

<div id="projects">
  <div class="container">
    <span><h1 class="title-font text-center reg-title" >PROJECTS</h1></span>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <div class="thumb" style="background-color: white;">
             <img src="assets/cs.png" alt="" class="center-block img-reponsive image" width="200px" height="auto">
   
              <a href="" class="middle">
                 <div class="text">View on &nbsp;&nbsp;<i class="fa fa-github"></i></div>
              </a>
      
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumb" style=" background: linear-gradient(to top, #56ccf2, #2f80ed);">
          <img src="assets/chat.png" alt="" class="center-block img-reponsive image" width="200px" height="auto">
            <a href="" class="middle">
                 <div class="text">View on &nbsp;&nbsp;<i class="fa fa-github"></i></div>
              </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumb" style="background-color: #e5dfc8;">
          <img src="assets/koffee.png" alt="" class="center-block img-reponsive image" width="200px" height="auto">
           <a href="" class="middle">
                 <div class="text">View on &nbsp;&nbsp;<i class="fa fa-github"></i></div>
              </a>
        </div>
      </div>
    </div>
  <br>
    <div class="row">
      <div class="col-lg-4">
          <div class="thumb" style="background-color: #bfc0cd">
           <img src="assets/bids.png" alt="" class="center-block img-reponsive image" width="200px" height="auto">
           <a href="" class="middle">
             <div class="text">View on &nbsp;&nbsp;<i class="fa fa-github"></i></div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumb" style="background-color: #043c71">
         <img src="assets/lnu-rms.png" alt="" class="center-block img-reponsive image" width="200px" height="auto">
           <a href="" class="middle">
             <div class="text">View on &nbsp;&nbsp;<i class="fa fa-github"></i></div>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumb" style="background-color: #c0392b">
             <img src="assets/frims.png" alt="" class="center-block img-reponsive image" width="200px" height="auto">
             <a href="" class="middle">
               <div class="text">View on &nbsp;&nbsp;<i class="fa fa-github"></i></div>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about">
  <div class="container">
    <span class="reg-title"><h1 class="title-font text-center">ABOUT</h1></span>
    <hr>
  </div>
</div>